<h1>What meal do you want to eat?</h1>
<h2 id="meal_holder"></h2>

<button class="meal_teller">Tell the meal!</button>
<button id="color">Change background to your fav color</button>

<p id="meals"><%= @meals%></p>

